<app-blank title="Müsteriler" [navs]="navs">
  <app-section sectionTitle="Müsteri Listesi">
    <!-- <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Idenetity No</th>
          <th>Şirket Adı</th>
          <th>Delete</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers; let i = index">
          <td>1</td>
          <td [innerText]="customer.identityNumber"></td>
          <td [innerText]="customer.companyName"></td>
          <td><button>Delete</button></td>
          <td><button>Update</button></td>

        </tr>
      </tbody>
    </table> -->
  </app-section>
</app-blank>
