<app-blank title="Müsteriler" [navs]="navs">
  <!-- Added Form Start-->
  <app-section *ngIf="isAddForm" sectionTitle="Şirket Ekle">
    <form #addForm="ngForm">
      <div class="row">
        <div class="col-md-4">
          <label for="identityNumber">Identity No</label>
          <input type="text" class="form-control" #identityNumber name="identityNumber" ngModel [validInput]="identityNumber.validity.valid" required minlength="6">
        </div>
        <div class="col-md-4">
          <label for="companyName">Şirket Adı</label>
          <input type="text" class="form-control" #companyName name="companyName" ngModel [validInput]="companyName.validity.valid" required minlength="4">
        </div>
        <div class="col-md-4">
          <label>İşlemler</label>
          <app-loading-button btnName="Ekle" [form]="addForm" [isloading]="isloading" btnLoadingName="Ekleniyor..."
            (click)="createCustomer(addForm.value)"> </app-loading-button>
          <!-- <button class="btn btn-outline-success w-100" (click)="createCustomer(addForm.value)">
                                                                                                                <i class="fa fa-plus"></i>
                                                                                                                Şirket Ekle</button> -->
          </div>

          </div>
          </form>

          </app-section>
          <!-- //Start Update Form -->
          <app-section *ngIf="isUpdateForm" sectionTitle="Şirket Güncelleme">
            <form #isUpdateForm="ngForm">
              <div class="row">
                <input type="hidden" class="form-control" #id name="id" [(ngModel)]="updateCustomer.id">
                <div class="col-md-4">
                  <label for="identityNumber">Identity No</label>
                  <input type="text" class="form-control" #identityNumber name="identityNumber"
                    [(ngModel)]="updateCustomer.identityNumber" [validInput]="identityNumber.validity.valid" required
                    minlength="6">
                </div>
                <div class="col-md-4">
                  <label for="companyName">Şirket Adı</label>
                  <input type="text" class="form-control" #companyName name="companyName" [(ngModel)]="updateCustomer.companyName"
                    [validInput]="companyName.validity.valid" required minlength="4">
                </div>
                <div class="col-md-4">
                  <label>İşlemler</label>
                  <app-loading-button btnName="Güncelle" [form]="isUpdateForm" [isloading]="isloading"
                    btnLoadingName="Güncelleniyor..." (click)="update(isUpdateForm.value)"> </app-loading-button>
                  <!-- <button class="btn btn-outline-success w-100" (click)="createCustomer(addForm.value)">
            <i class="fa fa-plus"></i>
            Şirket Ekle</button> -->
        </div>

      </div>
    </form>

  </app-section>
  <!-- Finish Update Form -->
  <!-- Added Form Finish-->
  <!-- Read Form Start -->
  <app-section sectionTitle="Müsteri Listesi">
    <div class="form-group float-left">
      <button class="btn btn-outline-success" title="Müsteri Ekle" (click)="showAddForm()">
        <i class="fa fa-plus"></i>
      </button>
    </div>
    <div class="form-group float-right col-md-3">
      <input type="search" placeholder="Şirket ara" class="form-control" [(ngModel)]="filterText">
    </div>
    <div class="form-group">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Idenetity No</th>
          <th>Şirket Adı</th>
          <th>İşlemler</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of customers | customerPipe:filterText let i = index">
          <td>{{ i + 1 }}</td>
          <td [innerText]="customer.identityNumber"></td>
          <td [innerText]="customer.companyName"></td>
          <td>
            <div >
              <button class="btn btn-outline-warning btn-sm" title="Güncelle" (click)="get(customer)">
                  <i class="fa fa-edit"></i>
              </button>
              <button class="btn btn-outline-danger btn-sm mx-3" title="Sil" (click)="remove(customer.id)">
                  <i class="fa fa-trash"></i>
              </button>
          </div>
          </td>


        </tr>
      </tbody>
    </table>
  </div>
    <!-- // -->
    <div class="pagination">
      <button [disabled]="currentPage === 1" (click)="onPageChange(currentPage - 1)" class="btn btn-info mr-4 mt-3">Önceki</button>
      <span class="page mt-4" style="color: black; font-weight: bold">{{ currentPage }}</span>
      <button [disabled]="currentPage === totalPages" (click)="onPageChange(currentPage + 1)"  class="btn btn-info ml-4 mt-3">Sonraki</button>
    </div>
  <!-- // -->
  </app-section>
  <!-- Read Form Finish -->
</app-blank>
