<body class="hold-transition login-page">
  <div class="login-box">
    <!-- /.login-logo -->
    <div class="card card-outline card-primary">
      <div class="card-header text-center">
        <a routerLink="/" class="h1"><b>SRM </b>Admin Panel</a>
      </div>
      <div class="card-body">
        <p class="login-box-msg">Giriş için bilgilerinizi doldurunuz.</p>

        <form #loginForm="ngForm" (ngSubmit)="login(usernameOrEmail.value, password.value)">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Email or Username" #usernameOrEmail name="usernameOrEmail" required minlength="3" ngModel [validInput]="usernameOrEmail.validity.valid">

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-envelope"></span>
              </div>
            </div>
            <div class="invalid-feedback">
              Email Or Username wrong!
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" class="form-control" placeholder="Password" #password name="password" required minlength="6" ngModel [validInput]="password.validity.valid">

            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
            <div class="invalid-feedback">
              Password is wrong!
            </div>
          </div>

<app-loading-button
btnLoadingName="Giriş yapılıyor..."
btnName="Giriş Yap"
[form]="loginForm"
[isloading]="isloading"
></app-loading-button>
        </form>

        <div class="social-auth-links text-center mt-2 mb-3">
          <!-- <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
          </a>
          <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
          </a> -->
        </div>
        <!-- /.social-auth-links -->

        <p class="mb-1">
          <a routerLink="/resetpassword">I forgot my password</a>
        </p>
        <p class="mb-0">
          <a routerLink="/register" class="text-center">Register a new membership</a>
        </p>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>

  </body>
